.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 0.5em;
    align-items: center;
    height: 10vh;
    background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  
}
@media (max-width: 1024px) {
  .navbar {
    height: auto;
    padding: 0.5rem 1rem;
  } 
  }
  @media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0.8rem;
    gap: 0.8rem;}
    }