.configurar_asistencia_day {
      background: #fff;
      margin: 10px auto;
      padding: 15px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      width: 80%;
    }
    