.mi_pedido_boton{
    background-color: black;
    padding: 1rem 15rem;
    color: #ffff;
    cursor: pointer;
    border: none;
}

.mi_pedido_boton:hover{
    background-color:  rgb(63, 62, 62);
    transition: 0.4s;
}