.realizar_pedido_container_cartas_carta{
  margin: 0;                   
  background: #fff;
  width: 30% ;                 
  height: auto ;                  
  border-radius: .5rem;
  overflow: hidden;                          
  display: grid;
  grid-template-rows: auto auto auto;
}