.realizar_pedido_container_dias_dia{
    padding: 2rem 4rem;
    border: none;
    cursor: pointer;
}

.realizar_pedido_container_dias_dia:hover{
    background-color: rgb(138, 138, 138);
    transition: 0.5s;
}