.administrar_platos_main_botones_boton{
    background-color: black;
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,.08);
}

#confirmar_modificacion_platos{
    background-color: #fff;
    color: black;
}

.administrar_platos_main_botones_boton:hover{
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    color: #000;
    transition: .4s;
}

#confirmar_modificacion_platos:hover{
    background-color: rgb(56, 56, 56);
    cursor: pointer;
    transition: .4s;
    color: #fff;
}