.administrar_platos_main_platos{
    margin-top: 4rem;
    width: min(92%, 920px);
    height: 70%;
    padding: 0 2rem;
    overflow: auto; /* Muestra las barras de desplazamiento solo si el contenido las necesita */
}