.gestion_empleados_main_menu_lista_item{
    list-style: none;
    padding: 1rem;
    border-radius: 10px;
}

.gestion_empleados_main_menu_lista_item:hover{
    background-color: darkgray;
    cursor: pointer;
    transition: .4s;
}